/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204);
	display:flex;
	align-content:center;
	justify-content:center;
	text-align:center;
	text-decoration:none;
	
}
.songs{
	display:flex;
	justify-content:left;
	background-color:white;
	padding:1rem;
	border:1px solid black;
	border-radius:0.5rem;
}
.media{
	padding:1rem;
	border:1px solid black;
	background-color: rgb(255, 255, 255);
	border-radius:0.5rem;
}
li{
	list-style-type:none;
}
a{
	text-decoration:none;
}
.player_one{
	background-color: rgb(255, 255, 255);
	padding:10px;
	border-radius:0.5rem;
}
.player_two{
	background-color: rgb(255, 255, 255);
	padding:10px;
	border-radius:0.5rem;
}
.p{
	align-text:left;
}
